---
import Back from '../components/Back.astro';
import Data from '../components/Data.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">

	<Back>
=======
	<main>
		<Back>
		<!-- <Data> -->
	</main>

</Layout>



