<div class="flex flex-col  relative lg:top-[-112px] lg:h-screen h-[440px] bg-gym bg-cover bg-no-repeat mx-auto -z-1">
    <div class="text-white relative text-center lg:top-[150px] text-5xl">
        <h1 class="mb-5">Primera sesión gratuita</h1>
        <button class="text-purpuraClaro">Detalles</button>
    </div>
</div>