<div class="flex flex-col justify-center lg:h-screen h-[440px] bg-gym bg-blend-normal bg-cover bg-center bg-no-repeat mx-auto -z-1">
    <div class="text-center  text-5xl bg-gradient-to-r from-indigo-300 to-purple-400">
        <h1 class="text-[#57cc99] mb-5">Primera sesión gratuita</h1>
        <button class="text-purpuraClaro">Detalles</button>
    </div>
</div>